# dependencies
node_modules

# next.js
.next
out

# production
build
dist

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# macOS
.DS_Store

# TypeScript
*.tsbuildinfo

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# prisma generated client if generated locally
/lib/generated/prisma


cookies.txt